    {{#if itemsAvailable}}
    <table>
        <tr>
            <th> Items </th>
            <th> Rarity </th>
            <th> Price </th>
            {{!-- <th> Planet </th> --}}
        </tr>
        <tr>
            <td> Martian Sand </td>
            <td> Common </td>
            <td> 1 </td>
            {{!-- <td> Mars </td> --}}
        </tr>
    </table>
    {{/if}}