<nav id="menu">
    <section>
        {{#if loggedIn}}
        <a href="dashboard">
            <div class="menu-buttons">Home</div>
        </a>
        <a href="inventory">
            <div class="menu-buttons">Inventory</div>
        </a>
        <a href="explore">
            <div class="menu-buttons">Explore</div>
        </a>
        <a href="logout">
            <div class="menu-buttons">Log Out</div>
        </a>
        {{/if}}
    </section>
</nav>