<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Space RPG!</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="wrapper">
        <h1>Space RPG!</h1>
        <nav>
            {{#if loggedIn}}
            <section id="leftMenu">
                <a href="/homepage">Home</a>
                <a href="/inventory">Inventory</a>
                <a href="/planetselect">Explore</a>
                <a href="/login.handlebars">Log Out</a>
            </section>
            {{/if}}
        </nav>
        <main>
            {{{ body }}}
        </main>
    </div>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>