<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Space RPG!</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>
                <a href="/">
                    Space RPG!
                </a>
            </h1>
            <nav>
                {{#if loggedIn}}
                <section id="leftMenu">
                    <span class="menu-buttons"><a href="/homepage">Home</a></span>
                    <span class="menu-buttons"><a href="/inventory">Inventory</a></span>
                    <span class="menu-buttons"><a href="/planetselect">Explore</a></span>
                    <span class="menu-buttons"><button id="logout" class="button"> Log Out </button></span>
                </section>
                {{/if}}
            </nav>
        </header>
        <main>
            {{{ body }}}
        </main>
    </div>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>