<div class="main-container">
    <input id="user-id" type="text" hidden value="{{user.id}}" />
    <div id="user-inventory">
        {{user.username}}'s Inventory
    </div>

    <table>
        <tr>
            <th> Item </th>
            <th> Rarity </th>
            <th> Price </th>
        </tr>
        <tbody id="inventory"></tbody>
    </table>
    <script src="/javascript/inventorylogic.js"></script>

</div>

