<form class="login-form">
	<div>
		<label for="username-login">username:</label>
		<input type="text" id="username-login" />
	</div>
	<div>
		<label for="password-login">password:</label>
		<input type="password" id="password-login" />
	</div>
	<div>
		<button type="submit">login</button>
	</div>
</form>

<a href="signup" class="sign-in-link">Create Account</a>

<script src="/javascript/login.js"></script>



{{! ======================================================================================== }}

{{! <form class="signup-form">
	<div>
		<label for="username-signup">username:</label>
		<input type="text" id="username-signup" />
	</div>
	<div>
		<label for="email-signup">email:</label>
		<input type="text" id="email-signup" />
	</div>
	<div>
		<label for="password-signup">password:</label>
		<input type="password" id="password-signup" />
	</div>
	<div>
		<button type="submit">signup</button>
	</div>
</form>

<div class="main-container">
	<div class="contents">
		<form class="login-form">
			<div class="id-password-label">
				<label for="user-login">User ID:</label>
			</div>
			<div class="id-password-input">
				<input type="text" id="user-login" />
			</div>
			<div class="id-password-label">
				<label for="password-login">Password:</label>
			</div>
			<div class="id-password-input">
				<input type="password" id="password-login" />
			</div>
			<div class="login-logout-buttons">
				<a href="dashboard">Log In</a>
			</div>
		</form>

		<a href="signup" class="sign-in-link">Create User ID</a>

	</div>
</div>

<script src="/javascript/login.js"></script> }}