
<div class="main-container">
  <div class="contents">
    <form class="login-form">
      <div class="id-password-label">
        <label for="user-login">User ID:</label>
      </div>
      <div class="id-password-input">
        <input type="text" id="user-login" />
      </div>
      <div class="id-password-label">
        <label for="password-login">Password:</label>
      </div>
      <div class="id-password-input">
        <input type="password" id="password-login" />
      </div>
      <div class="login-logout-buttons">
        <button type="submit">Login</button>
      </div>
    </form>


    <a href="/signup" class="sign-in-link">Create User ID</a>

    <script src="/javascript/login.js"></script>
  </div>
</div>