<div class="main-container">
  <div class="contents">
    <form class="login-form">
      <div>
        <label for="username-login" class="user-login">Username:</label>
        <input type="text" id="username-login" />
      </div>
      <div>
        <label for="password-login" class="pw-login">Password:</label>
        <input type="password" id="password-login" />
      </div>
      <div>
        <button type="submit">Login</button>
      </div>
    </form>

    <a href="signup" class="sign-in-link">Create Account</a>

  </div>
</div>
<script src="/javascript/login.js"></script>