<div class="main-container" id="mars-background-image">

    <div id="mars-explore" class="contents">
        <img src="/assets/explore-icon.png" alt="explore-icon">
        <button class="explore" id="Explore">Explore!</button>
        <div class="explore" id="new-item-message"></div>
        <div class="explore" id="item-name"></div>
        <div class="explore" id="item-rarity"></div>
        <div class="explore" id="item-value"></div>
        <div class="explore" id="oxygen">O2: 100%</div>
        <div class="explore" id="low-o2-warning"></div>
    </div>

    <script src="/javascript/marslogic.js"></script>
</div>