<div class="main-container">
    <div class="contents">
    <div id="mars">
        <a href="mars">Mars</a>
    </div>
    <div id="venus">
        <a href="venus">Venus</a>
    </div>
    </div>
</div>   
    </div>
</div>