<div class="main-container" id="background-image">
    <div class="contents">
        <div id="planets">
            <div class="mars">
                <a href="mars"><img src="/assets/mars-icon.png" alt="Planet Mars icon"></a>
                <div class="mars"><a href="mars">Mars</a></div>
            </div>
            <div class="venus">
                <a href="venus"><img src="/assets/venus-icon.png" alt="Planet Venus icon"></a>
                <div class="venus"><a href="venus">Venus</a></div>
            </div>
        </div>
    </div>
</div>