<div class="main-container">
  <div class="contents">
    <form class="create-account-form">
      <div>
        <label for="username-signup" class="user-login">Username:</label>
        <input type="text" id="username-signup" />
      </div>
      <div>
        <label for="password-signup" class="pw-login">Password:</label>
        <input type="password" id="password-signup" />
      </div>
      <div>
        <button type="submit">Create Account!</button>
      </div>
    </form>
    <a href="/" class="sign-in-link">Log In instead!</a>


    <script src="/javascript/signup.js"></script>