<div class="main-container" id="venus-background-image">

   <div class="contents">
        <button class="explore">Explore!</button>
        <img src="/assets/explore-icon.png" alt="explore-icon">
    </div>

<script src="/javascript/venuslogic.js"></script>
</div>