<div class="main-container" id="venus-background-image">

   <div class="contents">
        <img src="/assets/explore-icon.png" alt="explore-icon">
        <button class="explore" id="Explore">Explore!</button>
        <div class="explore" id="oxygen">O2: 100%</div>
        <div class="explore" id="low-o2-warning"></div>
    </div>

<script src="/javascript/venuslogic.js"></script>
</div>