body {
	font-family: "M PLUS 1 Code", sans-serif;
	color: white;
}

.wrapper {
	min-height: 1000px;
	padding-bottom:10px;
}

h1 {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: none !important;
}

#logo {
	font-family: "M PLUS 1 Code", sans-serif;
	text-shadow: 1px 1px 10px #fff, 1px 1px 4px #ccc;
	color: white;
	padding: 20px 20px 10px 50px;
}

.wrapper {
	background-color: black;
	width: 100%;
}

.flex-container {
	flex-direction: row;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

#menu {
	width: 100px;
	font-size: 24px;
	padding-right: 50px;
	padding-top: 30px;
	display: flex;
	flex-direction: row;
	flex-basis: 100%;
	flex: 4;
	justify-content: flex-end;
}

.menu-buttons {
	color: lightgray;
	text-shadow: 1px 1px 10px #fff, 1px 1px 2px #ccc;
	text-decoration: none;
	margin-left: 20px;
	padding-bottom: 20px;
	display: inline-block;
	flex-direction: column;
}

#logout,
#login {
	font-family: "M PLUS 1 Code", sans-serif;
	font-size: 24px;
	color: lightgray;
	text-shadow: 1px 1px 10px #fff, 1px 1px 2px #ccc;
	padding: 0;
	border: none;
	background: none;
}

.main-container {
	min-height: 650px;
	margin: 0 40px 0 40px;
	padding: 20px;
	border: 2px gray;
	border-style: outset;
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
}

#background-image {
	/* background-image: url(./starry-night-design.jpg); */
	background-position: center;
	background-repeat: no-repeat;
}

#welcome-text {
	color: white;
	text-shadow: 1px 1px 15px #fff, 1px 1px 2px #ccc;
	font-size: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}

#user-inventory {
	color: white;
	text-shadow: 1px 1px 15px #fff, 1px 1px 2px #ccc;
	font-size: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: 20px;
}

.contents {
	/* color: white;
    text-shadow: 1px 1px 15px #fff, 1px 1px 15px #ccc; */
	font-size: 20px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}

.login-form, .create-account-form {
	padding: 30px;
}

.id-password-label {
	flex-direction: row;
	float: left;
}

.id-password-input {
	flex-direction: column;
	justify-content: flex-end;
}

.sign-in-link {
	color: white;
	text-decoration: none !important;
    font-family: 'M PLUS 1 Code', sans-serif;
    text-shadow: 1px 1px 15px #fff, 1px 1px 2px #ccc;
}

.sign-in-link > a{
    color:white;
}

.sign-in-link > a:hover{
    color:white;
}

.user-login, .pw-login{
    font-family: 'M PLUS 1 Code', sans-serif;
    text-shadow: 1px 1px 15px #fff, 1px 1px 2px #ccc;
}

.login-logout-buttons {
	margin-top: 20px;
}

#planets{
    display: flex;
}

.mars, .venus{
    font-family: 'M PLUS 1 Code', sans-serif;
    text-shadow: 1px 1px 15px #fff, 1px 1px 2px #ccc;
    font-size: 30px;
    text-decoration: none !important;
    padding: 20px 120px 40px 120px;
}

#background-image{
    background-image: url("/assets/starry-night-design.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

#mars-background-image{
    background-image: url("/assets/planet-mars.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

#venus-background-image{
    background-image: url("/assets/planet-venus.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.explore{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    font-family: 'M PLUS 1 Code', sans-serif;
    text-shadow: 1px 1px 15px #fff, 1px 1px 2px #ccc;
    font-size: 30px;
    text-decoration: none !important;
}

#mars-explore, #venus-explore{
    background-color: rgb(60, 60, 60, 0.8);
    padding: 15px;
    border-radius: 10px;
}

table {
    font-family: 'M PLUS 1 Code', sans-serif;
    text-shadow: 1px 1px 15px #fff, 1px 1px 1px #ccc;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    /* display: none; */
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
  }

  tr:nth-child(even) {
    background-color: rgba(206, 206, 206, 0.8);
  }